{
  "presets": [
    ["@babel/typescript", { "jsxPragma": "h" }],
    [
      "@babel/env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [["@babel/transform-react-jsx", { "pragma": "h" }]]
}
