@charset "utf-8";

$red: #f34423;

$primary: $red;

@import "~bulma/sass/utilities/_all.sass";

@import "~bulma/sass/base/_all.sass";

$navbar-breakpoint: $tablet;

@import "~bulma/sass/components/navbar.sass";

@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";

@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";

$size-8: 0.5rem;

html {
  overflow-y: auto;
}

header.container {
  max-width: 900px;
}

main .container {
  max-width: 700px;
}

.navbar {
  .navbar-brand {
    .navbar-item:first-child {
      @include from($desktop) {
        padding: 0 $size-7;

        img {
          max-height: $size-2;
        }
      }
    }
  }

  .navbar-item {
    .icon {
      svg {
        height: $size-5;
        fill: currentColor;
      }
    }

    &:hover,
    &:focus {
      color: $link;
    }
  }
}

.post {
  margin-bottom: $size-1;

  .title {
    font-size: 1.6rem;

    a {
      color: $grey-darker;

      &:hover,
      &:focus {
        color: $link;
      }
    }
  }

  .subtitle {
    margin-bottom: $size-6;
  }

  .caption {
    font-size: 0.9rem;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -$size-8;

    .item {
      padding: $size-8;
    }
  }
}
